.button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text-primary);
  padding: var(--size-4);
  border-radius: var(--radius-4);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover:not(:disabled) {
    scale: 1.25;
    transition: scale 0.1s ease-in-out;
  }

  &:focus-visible:not(:disabled) {
    outline: 1px solid var(--color-white);
    outline-offset: 2px;
  }

  & > svg {
    --size: 1.125rem;
    display: block;
    width: var(--size);
    height: var(--size);
  }
}
