.panel {
  --panel-max-width: 25rem;
  --panel-margin: var(--size-16);
  --panel-margin-min: var(--size-8);

  position: absolute;
  top: calc(var(--panel-margin) + env(safe-area-inset-top));
  left: 50%;
  z-index: var(--z-panel);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
  width: min(calc(100% - 2 * var(--panel-margin-min)), var(--panel-max-width));
  border-radius: var(--radius-8);
  padding: var(--size-16);
  background: var(--color-surface-100);
  box-shadow: 0 2px 20px var(--color-shadow);
}
