.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--size-4);
}
