{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@/", "^[./](?!.*\\.css$)", "\\.css$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiersWithinImportDeclarations": true
}
