:root {
  /* NOTE: map-related colors are defined in  map-color-tokens.ts and injected into :root in layout.tsx */

  /* overlap with map-color-tokens.ts */
  /* if you change a color here, you must also change it in map-color-tokens.ts */
  --color-blue: #4285f4;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #ff3b3b;

  --color-gray-100: #1a1a1a;
  --color-gray-200: #2a2a2a;
  --color-gray-400: #666666;
  --color-gray-700: #aaaaaa;

  --color-primary: var(--color-blue);
  --color-danger: var(--color-red);

  --color-text-primary-on-dark: var(--color-white);
  --color-text-secondary-on-dark: var(--color-gray-700);

  --color-text-primary-on-light: var(--color-gray-200);
  --color-text-secondary-on-light: var(--color-gray-400);

  --color-surface-100: var(--color-gray-100);
  --color-surface-200: var(--color-gray-200);

  --color-text-primary: var(--color-text-primary-on-dark);
  --color-text-secondary: var(--color-text-secondary-on-dark);
  --color-shadow: rgba(0, 0, 0, 0.4);

  [data-rating='1'] {
    --rating-color: var(--color-rating-1);
  }
  [data-rating='2'] {
    --rating-color: var(--color-rating-2);
  }
  [data-rating='3'] {
    --rating-color: var(--color-rating-3);
  }
  [data-rating='4'] {
    --rating-color: var(--color-rating-4);
  }
  [data-rating='5'] {
    --rating-color: var(--color-rating-5);
  }
}
