*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: var(--line-height-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: var(--line-height-heading);
}

p {
  margin: 0;
}

input,
button {
  font: inherit;
}

ul,
ol,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

dd,
dt {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: inherit;
  font: inherit;

  &[disabled] {
    cursor: not-allowed;
  }
}
