.component {
  width: var(--size-54);
  height: var(--size-54);
  border-radius: 50%;
  background: var(--color-surface-100);
  border: none;
  box-shadow: 0 0.125rem 0.75rem var(--color-shadow);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-primary);
  font-size: var(--font-size-22);
  transition: scale 0.1s ease-in-out;

  &:hover:not(:disabled) {
    scale: 1.1;
  }

  &:focus-visible:not(:disabled) {
    outline: 1px solid var(--color-white);
    outline-offset: 2px;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
