.component {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--color-surface-100);
  border: none;
  box-shadow: 0 2px 12px var(--color-shadow);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-primary);
  font-size: 22px;

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
