.fabContainer {
  position: fixed; /* position: fixed is needed to make sure the env(safe-area-inset-bottom) is taken into account */
  bottom: calc(var(--fab-margin) + env(safe-area-inset-bottom));
  right: var(--fab-margin);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--size-12);
  z-index: var(--z-fab);
}
