.menuBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  width: 100%;
  padding: var(--size-8) var(--size-16);
}

.logo {
  font-size: var(--font-size-16);
  font-weight: 600;
}

.tagline {
  font-size: var(--font-size-12);
  color: var(--color-text-secondary);
}

.branding {
  display: flex;
  flex-direction: column;
  align-items: start;
}
