.container {
  position: absolute;
  inset: 0;
  z-index: var(--z-map);
}

.controlMarker {
  /* --size is set in the useSegmentSelection.ts file */
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--color-black);
  border: 3px solid var(--rating-color);
  cursor: move;
}

.mapMarker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pendingMapMarker {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-rating-neutral);
}
